<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8"/>
    
    <title>jQuery.template</title>
    
    <script src="http://assets.dev/js/jquery/jquery-1.4.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://assets.dev/js/jquery/plugins/template/jquery.template.js" type="text/javascript" charset="utf-8"></script>
    
  </head>
  <body>
        
    <!-- Applying this template... -->
    
    <script type="text/html" id="subtemplate">

      <% /* this is proper markup for a template comment */ %>
      <!-- HTML comments are inserted into the DOM -->
      
      <% /* argument passed to $.template is accessed as "this" */ %>
      <h1><%= this.name %></h1>

      <% /* functions act as subtemplates */ %>
      <%
         /** NOTE!
          * subtemplates can be declared anywhere inside a template
          * if you use:
          *   function subtemplate () {} 
          * but not if you use:
          *   var subtemplate = function () {};
          */
      %>
      <% function renderJob (job) { %>

        <% /* variables declared in a subtemplate are local to the subtemplate */ %>
        <% var verb = (job.end !== 'present') ? 'worked' : 'currently work'; %>

        I <%= verb %> at <strong><%= job.company %></strong> as a <em><%= job.position %></em> <% renderDateRange(job.start, job.end) %>

        <% /* subtemplates can be nested (nested subtemplates are private) */ %>
        <% function renderDateRange (start, end) { %>

          <% /* you can print with ternaries */ %>
          from <%= start %> <%= end === 'present' ? '' : 'to ' + end %>.

        <% } %>        
      <% } %>

      <ul>
        <% /* global variables are accessible inside template (ex. jQuery) */ %>
        <% jQuery.each(this.jobs, function (i, job) { %>

          <% /* execute (<% ... %>), don't print (<%= ... %>), subtemplates */ %>
          <li><% renderJob(job) %></li>

        <% }); %>
      </ul>

    </script>

    <!-- ...to this data... -->

    <script type="text/javascript" charset="utf-8">
    $(function () {
      
      $('#subtemplate').template({
        name: 'Dave Furfero',
        jobs: [
          {company:'MLB.com', position:'User Interface Engineer', start:'March 2009', end:'present'},
          {company:'Time, Inc.', position:'Front-end Developer', start:'July 2008', end:'March 2009'},
          {company:'Live Nation', position:'Director of Product Development', start:'February 2008', end:'July 2008'},
          {company:'Live Nation', position:'Senior Product Developer', start:'August 2007', end:'February 2008'},
          {company:'Owl Music Search', position:'Interface Design Director', start:'April 2006', end:'June 2007'}
        ]
      }).appendTo('#content');
    
    });
    </script>
    
    <!-- ...creates this function (edited for clarity)... -->
    
    <script type="text/javascript" charset="utf-8">
    function () {
    
      var out = [];
    
      out.push(" <!-- HTML comments are inserted into the DOM --> ");
      out.push(" <h1>", this.name, "</h1> ");
    
      function renderJob(job) {
        var verb = job.end !== "present" ? "worked" : "currently work";
        out.push(" I ", verb, " at <strong>", job.company, "</strong> as a <em>", job.position, "</em> ");
        renderDateRange(job.start, job.end);
    
        function renderDateRange(start, end) { out.push(" ");
          out.push(" from ", start, " ", end === "present" ? "" : "to " + end, ". ");
        }
      }
    
      out.push(" <ul> ");
    
      jQuery.each(this.jobs, function (i, job) {
        out.push(" <li>");
        renderJob(job);
        out.push("</li> ");
      });
    
      out.push(" </ul> ");
    
      return out.join("");
    }
    </script>
    
    <!-- ...renders this markup... -->

    <!-- HTML comments are inserted into the DOM -->
    <h1>Dave Furfero</h1>
    <ul>
      <li>I currently work at <strong>MLB.com</strong> as a <em>User Interface Engineer</em> from March 2009 .</li>
      <li>I worked at <strong>Time, Inc.</strong> as a <em>Front-end Developer</em from July 2008 to March 2009.</li>
      <li>I worked at <strong>Live Nation</strong> as a <em>Director of Product Development</em> from February 2008 to July 2008.</li>
      <li>I worked at <strong>Live Nation</strong> as a <em>Senior Product Developer</em> from August 2007 to February 2008.</li>
      <li>I worked at <strong>Owl Music Search</strong> as a <em>Interface Design Director</em> from April 2006 to June 2007.</li>
    </ul>

    <!-- ...into this element. -->
    
    <div id="content"></div>
    
  </body>
</html>
