<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8"/>
    
    <title>untitled</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="" type="text/css">
    <style type="text/css" media="screen">
      
    </style>
    
    <!-- JavaScripts -->
    <script src="http://assets.dev/js/jquery/jquery-1.4.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://assets.dev/js/jquery/plugins/template/jquery.template.js" type="text/javascript" charset="utf-8"></script>
    
  </head>
  <body>
        
    <!-- Applying this template... -->
    
    <script type="text/html" id="subtemplate">
      
      // functions act as subtemplates
      <% function doSomething (job) { %>
        I worked at <%= job.name %>.
      <% } %>
      
      <h1><%= this.name %></h1>
      
      <ul>
        <% $.each(this.jobs, function (i, job) { %>
          <li><% doSomething(job) %></li>
        <% }); %>
      </ul>

    </script>

    <!-- ...to this data... -->

    <script type="text/javascript" charset="utf-8">
    $(function () {
      
      $('#subtemplate').template({
        name: 'dave',
        jobs: [
          {name:'Live Nation'},
          {name:'Time, Inc.'},
          {name:'MLB.com'}
        ]
      }).appendTo('#content');
    
    });
    </script>
    
    <!-- ...creates this function (edited for clarity)... -->
    
    <script type="text/javascript" charset="utf-8">
    function () {

      var out = [];

      function doSomething (job) {
        out.push(' I worked at ', job.name ,'. ');
      }

      out.push(' <h1>', this.name ,'</h1> <ul> ');

      $.each(this.jobs, function (i, job) {
        out.push(' <li> ');
        doSomething(job);
        out.push(' </li> ');
      });

      out.push(' </ul> ');

      return out.join('');
    }
    </script>
    
    <!-- ...renders this markup... -->
    
    <h1>dave</h1>

    <ul>
      <li>I worked at Live Nation.</li>
      <li>I worked at Time, Inc..</li>
      <li>I worked at MLB.com.</li>
    </ul>
    
    <!-- ...into this element. -->
    
    <div id="content"></div>
    
  </body>
</html>
